body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
}

.banner {
    height: 430px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.navbar {
    position: absolute;
    color: white;
    display: flex;
}

.menu-button {
    display: none;
}